---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignOperands: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     100
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentWidth:     4
SortIncludes: false
SpacesBeforeTrailingComments: 1
Standard: Cpp11
...
